# The One Standard Error Rule

Given model selection through cross-validation, you should pick the simplest model that is within one standard error of the best model. This is often used in regularization.

In L1 (Lasso) regression, the large the penalty lambda, the simpler the model.

https://stats.stackexchange.com/questions/80268/empirical-justification-for-the-one-standard-error-rule-when-using-cross-validat

In [75]:
import pandas as pd
import seaborn as sns; sns.set()
import numpy as np
tips = sns.load_dataset("tips")

# Allows multiple output from each cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [76]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Quick processing for regression problem.

- Y is tip
- Remove the day (no reason except to keep dims lower)

In [77]:
tips = pd.get_dummies(tips, drop_first=True)

In [78]:
tips.head()

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1

In [79]:
X = tips.drop('tip', axis=1).values
y = tips[['tip']].values

### Running linear regression

In [104]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

In [105]:
from sklearn import linear_model
ols = linear_model.LinearRegression()

model = ols.fit(X_train, y_train)

In [106]:
model.coef_

array([[ 0.09384218,  0.18256058, -0.00587478, -0.05650868,  0.22987768,
         0.00692298,  0.06172204,  0.0370433 ]])

In [107]:
prediction_tips = model.predict(X_test)

In [108]:
# Calculate the MSE
np.mean((prediction_tips - y_test) **2)

0.80581981432703265

### Lasso

In [129]:
reg = linear_model.Lasso(alpha=1)

In [130]:
model = reg.fit(X_train, y_train)

In [131]:
model.coef_

array([ 0.09377336,  0.        , -0.        , -0.        ,  0.        ,
       -0.        ,  0.        ,  0.        ])

In [132]:
prediction_tips = reg.predict(X_test)

In [133]:
np.mean((prediction_tips - y_test) **2)

2.0737205277128266