In [9]:
import pandas as pd
from sklearn import datasets
import numpy as np

In [10]:
iris = datasets.load_iris()
iris = data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [11]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

## Filter by multiple conditions

In [13]:
iris[(iris['sepal length (cm)'] > 4.6) & (iris['sepal length (cm)'] < 5.1)].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
7,5.0,3.4,1.5,0.2,0.0
9,4.9,3.1,1.5,0.1,0.0

In [14]:
iris[(iris['sepal length (cm)'] > 4.6) & 
     (iris['sepal length (cm)'] < 5.1) &
     (iris['petal length (cm)'] == 1.4)].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
1,4.9,3.0,1.4,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
12,4.8,3.0,1.4,0.1,0.0
37,4.9,3.6,1.4,0.1,0.0
45,4.8,3.0,1.4,0.3,0.0